/* fonts */
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/monaspace-neon';

/* presentation */
@import '@animotion/core/theme';

/* tailwind */
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

/* utils */
@utility center {
	@apply h-full place-content-center place-items-center;
}

@utility font-inherit {
	font: inherit;
}

@utility scrollbar {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #444;
		border-radius: 8px;
	}
}

@utility stack {
	display: grid;
	place-content: center;

	> * {
		grid-area: 1 / 1;
	}
}

/* reset */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* defaults */
:root {
	color-scheme: dark;

	--r-background-color: oklch(18% 1% 272);
	--r-main-font: 'Atkinson Hyperlegible';
	--r-main-font-size: 42px;
	--r-main-color: oklch(98% 0.02 272);
	--r-heading-font: 'Atkinson Hyperlegible';
	--r-code-font: 'Monaspace Neon';
	--r-link-color: oklch(90.54% 0.15 194);
	--ease: linear(
		0 0%,
		0.0036 9.62%,
		0.0185 16.66%,
		0.0489 23.03%,
		0.0962 28.86%,
		0.1705 34.93%,
		0.269 40.66%,
		0.3867 45.89%,
		0.5833 52.95%,
		0.683 57.05%,
		0.7829 62.14%,
		0.8621 67.46%,
		0.8991 70.68%,
		0.9299 74.03%,
		0.9545 77.52%,
		0.9735 81.21%,
		0.9865 85%,
		0.9949 89.15%,
		1 100%
	);
}

/* reset */
/*
button,
select {
	border: none;
	background-color: transparent;
	font: inherit;
}
*/

button {
	border: none;
	background-color: transparent;
	font: inherit;
}

/*
body::before {
	background-image: url('https://cdn.pixabay.com/photo/2022/01/07/08/04/black-background-6921370_1280.jpg');
	content: '';
	position: fixed;
	inset: 0;
	opacity: 0.1;
}
*/

/*
body::before {
	--tile: #000;
	--background: #fff;

	content: '';
	position: fixed;
	inset: 0;
	opacity: 0.004;
	background-image:
		repeating-linear-gradient(
			45deg,
			var(--tile) 25%,
			transparent 25%,
			transparent 75%,
			var(--tile) 75%,
			var(--tile)
		),
		repeating-linear-gradient(
			45deg,
			var(--tile) 25%,
			var(--background) 25%,
			var(--background) 75%,
			var(--tile) 75%,
			var(--tile)
		);
	background-position:
		0 0,
		40px 40px;
	background-size: 80px 80px;
}
*/

/*
body::before {
	--size: 45px;
	--line: color-mix(in lch, white, transparent 80%);
	content: '';
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size)
			var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-20deg, transparent 20%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}
*/

/* code block */
/* 
div:has(> pre) {
	padding: --spacing(4) --spacing(8);
	background-color: oklch(24% 0.02 272);
	border-top: 1px solid oklch(34% 0.02 272);
	border-radius: var(--radius-lg);
}
 */

/* view transitions */
html {
	view-transition-name: none;
}

::view-transition-group(*) {
	animation-duration: 1.3s;
	animation-timing-function: var(--ease);
}

/* animations */
.enter {
	animation: enter 1.3s var(--ease);
}

.hidden {
	display: none;
}

@keyframes enter {
	from {
		translate: 0px 100svh;
		filter: blur(4px);
	}
}

/* transition override */
.reveal.slide .slides > section:not([data-transition]).past {
	transform: translate(0, 150%) !important;
	transition-duration: 1.3s !important;
	animation-timing-function: var(--ease);
}

.reveal .slides > section[data-transition='slide'].future,
.reveal .slides > section[data-transition~='slide-in'].future,
.reveal.slide .slides > section:not([data-transition]).future {
	transform: translate(0, 150%) !important;
	transition-duration: 1.3s !important;
	animation-timing-function: var(--ease);
}

.reveal .slides > section > section[data-transition='slide'].past,
.reveal .slides > section > section[data-transition~='slide-out'].past,
.reveal.slide .slides > section > section:not([data-transition]).past {
	transform: translate(150%, 0) !important;
	transition-duration: 1.3s !important;
	animation-timing-function: var(--ease);
}

.reveal .slides > section > section[data-transition='slide'].future,
.reveal .slides > section > section[data-transition~='slide-in'].future,
.reveal.slide .slides > section > section:not([data-transition]).future {
	transform: translate(150%, 0) !important;
	transition-duration: 1.3s !important;
	animation-timing-function: var(--ease);
}
